body {
  /* diameter of the circle */
  --d: 1px; 
  
  
  background-image: radial-gradient(
    circle at 
      var(--d) 
      var(--d), 
      
    var(--secondary-color) calc(var(--d) - 1px), 
    var(--primary-color) var(--d)
  );
  
  background-size: 50px 50px;
}



:root {
  --primary-color: white;
  --secondary-color: rgb(27, 27, 27);
  --inbetween-color: #eeeeee;
  --portfolio-green: #adc7b2;
  --subtext-color: #8b8b8b;
  --text-color: black;
}

/* :root {
  --primary-color: rgb(27, 27, 27);
  --secondary-color: white;
  --inbetween-color: #161616;
  --portfolio-green: #adc7b2;
  --subtext-color: #8b8b8b;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


/*Custom fonts*/
@font-face {
  font-family: Centra;
  src: url('/assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('/assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('/assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.page-container {
  display: 'flex';
  flex-direction: 'column';
}

.custom-a {
  color: var(--portfolio-green);
  text-decoration: none;
}

